:root {
	--white: white;
	--black: black;
    --dark-grey: #282828;
    --light-grey: #5A5A5A;
    --light-black: #080B12;
    --blacky-blue: #141922;
}

/* RESET RULES  */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: "Flow Circular", system-ui;
}

a {
	color: currentColor;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
}

/* LAYOUT */

.page-container {
	height: 100vh;
	margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.main-container {
	width: 100%;
	margin: 0 auto;
    display: flex;
    flex-grow: 1;
} 

.side-bar {
    min-width: 230px;
    flex-shrink: 1;
    background-color: var(--black);
}

.music-section {
    width: 100%;
    background-color: var(--blacky-blue);
}

.player-container {
    width: 100%;
    margin: 0 auto;
    height: 90px;
    background-color: var(--dark-grey);
}

.row {
	display: flex;
	flex-wrap: wrap;
}

/* .row > * {
	padding: 0px 12px;
} */


.col-12 {
	width: 100%;
}

.row.row-cols-5 > * {
	width: 20%;
}

/* DEBUG  */

.debug.page-container > * {
    border: 2px solid var(--black);
}

/* MEDIA QUERIES DESKTOP FIRST  */

/* Large devices  */
@media (max-width: 1199.98px) {
    
}

/* Medium devices  */
@media (max-width: 991.98px) { 

}

/* Small devices */
@media (max-width: 767.98px) {

}

/* X-Small devices */
@media (max-width: 575.98px) {
	
}










